
.btn {
    border: 2px solid #008CBA;
    border-radius: 10px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:visited, .btn:link {
    background-color: #008CBA;
    color: white;
}

.btn:hover, .btn:active {
    background-color: white; 
    color: black; 
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}