
.btn {
    border: 2px solid #008CBA;
    border-radius: 6px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:visited, .btn:link {
    background-color: #008CBA;
    color: white;
    text-decoration: none;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.btn:hover, .btn:active {
    background-color: white; 
    color: black; 
    text-decoration: none;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
}

.callout {
	background-color: #EED3FF;
	border-left: 6px solid #585858;
	padding: 12px;
	margin-top: 25px;
	margin-bottom: 25px;
}